&fastboot {
	acap {
		samplerate = <32000>;
		channel = <2>;
		bufnum = <63>;
		bufsamplecnt = <1024>;
		vol = <100>;
		recsrc = <0>;
		aec = <0>;
		txchannel = <0>;
		defaultsetting = <5>;
	};
};