/*
 * Novatek Ltd. NA51055 BSP part of dts
 *
 * Cortex-A9
 *
 */


#include <dt-bindings/gpio/nvt-gpio.h>

&i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;
	sen_imx335@0 {
		compatible = "nvt,sen_imx335";
		reg = <0x7F>;                       /* dummy addr */
		path = <0>;
		PRESET {
			expt_time = <10000>;            /* 10000us */
			gain_ratio = <1000>;            /* 1x gain */        
		};
		DIRECTION {
			mirror = <0>;                   /* mirror */
			flip = <0>;                     /* no flip */
		};
		POWER {
			mclk = <0>;                     /* CTL_SEN_CLK_SEL_SIEMCLK */
			pwdn_pin = <0xFFFFFFFF>;        /* no pwdn pin */   
			rst_pin = <S_GPIO(4)>;          /* S_GPIO_4 */
			rst_time = <10>;                 /* 1ms */
			stable_time = <50>;              /* 1ms */
		};
		I2C {
			i2c_id = <0>;                   /* SEN_I2C_ID_1 */
			i2c_addr = <0x1A>;              /* 0x34 >> 1  = 0x1A */
		};
	};
};

&i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
};

&i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
};

&spi0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

/*	dummy_spi_dev: dummy_spi_dev@0 {
		compatible = "dummy_spi_dev.0";
		reg = <0>; // Chip select 0
		spi-max-frequency = <1000000>;
		spi-cpol;
        };
*/
};

&spi1 {
	status = "okay";
};

&spi2 {
	status = "okay";
};
