&top {
	sdio{pinmux = <0x1>;};
	sdio2{pinmux = <0x1>;};
	sdio3{pinmux = <0x2>;};
	nand{pinmux = <0x0>;};
	sensor{pinmux = <0x0>;};
	sensor2{pinmux = <0x0>;};
	mipi_lvds{pinmux = <0x0>;};
	i2c{pinmux = <0x51>;};
	sif{pinmux = <0x0>;};
	uart{pinmux = <0x121>;};
	spi{pinmux = <0x300>;};
	sdp{pinmux = <0x0>;};
	remote{pinmux = <0x0>;};
  	pwm{pinmux = <0x8000>;};   //linux-kernel\arch\arm\plat-novatek\include\plat-na51055\top.h
	pwm2{pinmux = <0x0>;};
	ccnt{pinmux = <0x0>;};
	audio{pinmux = <0x0>;};
	lcd{pinmux = <0x10000006>;};
	tv{pinmux = <0x0>;};
    eth{pinmux = <0x0>;};
	misc{pinmux = <0x0>;};
};
