&top {
/*
	cgpio0{pad_config = <0x0 0x1 0x0 0x2>;};
	cgpio1{pad_config = <0x2 0x1 0x2 0x2>;};
	cgpio2{pad_config = <0x4 0x1 0x4 0x2>;};
	cgpio3{pad_config = <0x6 0x1 0x6 0x2>;};
	cgpio4{pad_config = <0x8 0x1 0x8 0x2>;};
	cgpio5{pad_config = <0xA 0x1 0xA 0x2>;};
	cgpio6{pad_config = <0xC 0x1 0xC 0x2>;};
	cgpio7{pad_config = <0xE 0x1 0xE 0x2>;};
	cgpio8{pad_config = <0x10000010 0x10 0x10 0x1>;};
	cgpio9{pad_config = <0x12 0x1 0x12 0x2>;};
	cgpio10{pad_config = <0x14 0x1 0x14 0x2>;};
	cgpio11{pad_config = <0x80000000 0x202 0x16 0x1>;};
	cgpio12{pad_config = <0x80000004 0x100 0x18 0x2>;};
	cgpio13{pad_config = <0x80000008 0x100 0x1A 0x2>;};
	cgpio14{pad_config = <0x8000000C 0x100 0x1C 0x2>;};
	cgpio15{pad_config = <0x80000010 0x100 0x1E 0x2>;};
	cgpio16{pad_config = <0x80000014 0x100 0x20 0x2>;};
	cgpio17{pad_config = <0x80000018 0x202 0x22 0x1>;};
	cgpio18{pad_config = <0x10000024 0x10 0x24 0x2>;};
	cgpio19{pad_config = <0x10000026 0x10 0x26 0x2>;};
	cgpio20{pad_config = <0x10000028 0x10 0x28 0x2>;};
	cgpio21{pad_config = <0x1000002A 0x10 0x2A 0x2>;};
	cgpio22{pad_config = <0x1000002C 0x10 0x2C 0x2>;};
	sgpio0{pad_config = <0x10000060 0x10 0x60 0x1>;};
	sgpio1{pad_config = <0x10000062 0x10 0x62 0x1>;};
	sgpio2{pad_config = <0x64 0x1 0x64 0x1>;};
	sgpio3{pad_config = <0x66 0x1 0x66 0x1>;};
	sgpio4{pad_config = <0x68 0x1 0x68 0x1>;};
	sgpio5{pad_config = <0x1000006A 0x10 0x6A 0x1>;};
	sgpio6{pad_config = <0x6C 0x1 0x6C 0x2>;};
	sgpio7{pad_config = <0x6E 0x1 0x6E 0x2>;};
	sgpio8{pad_config = <0x70 0x1 0x70 0x2>;};
	sgpio9{pad_config = <0x72 0x1 0x72 0x2>;};
	sgpio10{pad_config = <0x74 0x1 0x74 0x2>;};
	sgpio11{pad_config = <0x76 0x1 0x76 0x2>;};
	sgpio12{pad_config = <0x78 0x1 0x78 0x1>;};
	pgpio0{pad_config = <0x80 0x1 0x80 0x0>;};
	pgpio1{pad_config = <0x82 0x1 0x82 0x1>;};
	pgpio2{pad_config = <0x84 0x1 0x84 0x1>;};
	pgpio3{pad_config = <0x86 0x1 0x86 0x1>;};
	pgpio4{pad_config = <0x88 0x1 0x88 0x1>;};
	pgpio5{pad_config = <0x8A 0x1 0x8A 0x1>;};
	pgpio6{pad_config = <0x8C 0x1 0x8C 0x1>;};
	pgpio7{pad_config = <0x8E 0x1 0x8E 0x1>;};
	pgpio8{pad_config = <0x10000090 0x10 0x90 0x1>;};
	pgpio9{pad_config = <0x92 0x1 0x92 0x1>;};
	pgpio10{pad_config = <0x94 0x1 0x94 0x1>;};
	pgpio11{pad_config = <0x96 0x1 0x96 0x1>;};
	pgpio12{pad_config = <0x98 0x1 0x98 0x2>;};
	pgpio13{pad_config = <0x9A 0x1 0x9A 0x2>;};
	pgpio14{pad_config = <0x9C 0x1 0x9C 0x2>;};
	pgpio15{pad_config = <0x9E 0x1 0x9E 0x2>;};
	pgpio16{pad_config = <0xA0 0x1 0xA0 0x2>;};
	pgpio17{pad_config = <0xA2 0x1 0xA2 0x2>;};
	pgpio18{pad_config = <0xA4 0x1 0xA4 0x2>;};
	pgpio19{pad_config = <0xA6 0x1 0xA6 0x2>;};
	pgpio20{pad_config = <0xA8 0x1 0xA8 0x1>;};
	pgpio21{pad_config = <0xAA 0x1 0xAA 0x2>;};
	pgpio22{pad_config = <0xAC 0x1 0xAC 0x2>;};
	pgpio23{pad_config = <0xAE 0x1 0xAE 0x2>;};
	pgpio24{pad_config = <0xB0 0x1 0xB0 0x2>;};
	pgpio25{pad_config = <0xB2 0x202 0xB2 0x2>;};
	lgpio0{pad_config = <0xE0 0x1 0xE0 0x1>;};
	lgpio1{pad_config = <0xE2 0x1 0xE2 0x1>;};
	lgpio2{pad_config = <0xE4 0x1 0xE4 0x1>;};
	lgpio3{pad_config = <0xE6 0x1 0xE6 0x1>;};
	lgpio4{pad_config = <0xE8 0x1 0xE8 0x1>;};
	lgpio5{pad_config = <0xEA 0x1 0xEA 0x1>;};
	lgpio6{pad_config = <0xEC 0x1 0xEC 0x1>;};
	lgpio7{pad_config = <0xEE 0x1 0xEE 0x1>;};
	lgpio8{pad_config = <0x100000F0 0x10 0xF0 0x1>;};
	lgpio9{pad_config = <0xF2 0x1 0xF2 0x1>;};
	lgpio10{pad_config = <0xF4 0x1 0xF4 0x1>;};
	lgpio11{pad_config = <0xF6 0x1 0xF6 0x1>;};
	lgpio12{pad_config = <0xF8 0x1 0xF8 0x1>;};
	lgpio13{pad_config = <0xFA 0x1 0xFA 0x1>;};
	lgpio14{pad_config = <0xFC 0x1 0xFC 0x1>;};
	lgpio15{pad_config = <0xFE 0x1 0xFE 0x1>;};
	lgpio16{pad_config = <0x100 0x1 0x100 0x1>;};
	lgpio17{pad_config = <0x102 0x1 0x102 0x1>;};
	lgpio18{pad_config = <0x104 0x1 0x104 0x1>;};
	lgpio19{pad_config = <0x106 0x1 0x106 0x1>;};
	lgpio20{pad_config = <0x108 0x1 0x108 0x1>;};
	lgpio21{pad_config = <0x10A 0x1 0x10A 0x1>;};
	lgpio22{pad_config = <0x10C 0x1 0x10C 0x2>;};
	lgpio23{pad_config = <0x10E 0x1 0x10E 0x1>;};
	lgpio24{pad_config = <0x110 0x1 0x110 0x1>;};
	dgpio0{pad_config = <0x10000120 0x10 0x120 0x2>;};
	dgpio1{pad_config = <0x10000122 0x10 0x122 0x2>;};
	dgpio2{pad_config = <0x10000124 0x10 0x124 0x2>;};
	dgpio3{pad_config = <0x10000126 0x10 0x126 0x1>;};
	dgpio4{pad_config = <0x10000128 0x10 0x128 0x1>;};
	dgpio5{pad_config = <0x1000012A 0x10 0x12A 0x1>;};
	dgpio6{pad_config = <0x1000012C 0x10 0x12C 0x1>;};
	dgpio7{pad_config = <0x12E 0x1 0x12E 0x1>;};
	dgpio8{pad_config = <0x10000130 0x10 0x130 0x1>;};
	dgpio9{pad_config = <0x10000132 0x10 0x132 0x1>;};
	dgpio10{pad_config = <0x10000134 0x10 0x134 0x1>;};
	cgpio0{gpio_config = <C_GPIO(0) 0>;};
	cgpio1{gpio_config = <C_GPIO(1) 0>;};
	cgpio2{gpio_config = <C_GPIO(2) 0>;};
	cgpio3{gpio_config = <C_GPIO(3) 0>;};
	cgpio4{gpio_config = <C_GPIO(4) 0>;};
	cgpio5{gpio_config = <C_GPIO(5) 0>;};
	cgpio6{gpio_config = <C_GPIO(6) 0>;};
	cgpio7{gpio_config = <C_GPIO(7) 0>;};
	cgpio8{gpio_config = <C_GPIO(8) 0>;};
	cgpio9{gpio_config = <C_GPIO(9) 0>;};
	cgpio10{gpio_config = <C_GPIO(10) 0>;};
	cgpio11{gpio_config = <C_GPIO(11) 0>;};
	cgpio12{gpio_config = <C_GPIO(12) 0>;};
	cgpio13{gpio_config = <C_GPIO(13) 0>;};
	cgpio14{gpio_config = <C_GPIO(14) 0>;};
	cgpio15{gpio_config = <C_GPIO(15) 0>;};
	cgpio16{gpio_config = <C_GPIO(16) 0>;};
	cgpio17{gpio_config = <C_GPIO(17) 0>;};
	cgpio18{gpio_config = <C_GPIO(18) 0>;};
	cgpio19{gpio_config = <C_GPIO(19) 0>;};
	cgpio20{gpio_config = <C_GPIO(20) 0>;};
	cgpio21{gpio_config = <C_GPIO(21) 0>;};
	cgpio22{gpio_config = <C_GPIO(22) 0>;};
	sgpio0{gpio_config = <S_GPIO(0) 0>;};
	sgpio1{gpio_config = <S_GPIO(1) 0>;};
	sgpio2{gpio_config = <S_GPIO(2) 0>;};
	sgpio3{gpio_config = <S_GPIO(3) 0>;};
	sgpio4{gpio_config = <S_GPIO(4) 0>;};
	sgpio5{gpio_config = <S_GPIO(5) 0>;};
	sgpio6{gpio_config = <S_GPIO(6) 0>;};
	sgpio7{gpio_config = <S_GPIO(7) 0>;};
	sgpio8{gpio_config = <S_GPIO(8) 0>;};
	sgpio9{gpio_config = <S_GPIO(9) 0>;};
	sgpio10{gpio_config = <S_GPIO(10) 0>;};
	sgpio11{gpio_config = <S_GPIO(11) 0>;};
	sgpio12{gpio_config = <S_GPIO(12) 0>;};
	pgpio0{gpio_config = <P_GPIO(0) 0>;};
	pgpio1{gpio_config = <P_GPIO(1) 0>;};
	pgpio2{gpio_config = <P_GPIO(2) 0>;};
	pgpio3{gpio_config = <P_GPIO(3) 0>;};
	pgpio4{gpio_config = <P_GPIO(4) 0>;};
	pgpio5{gpio_config = <P_GPIO(5) 0>;};
	pgpio6{gpio_config = <P_GPIO(6) 0>;};
	pgpio7{gpio_config = <P_GPIO(7) 0>;};
	pgpio8{gpio_config = <P_GPIO(8) 0>;};
	pgpio9{gpio_config = <P_GPIO(9) 0>;};
	pgpio10{gpio_config = <P_GPIO(10) 0>;};
	pgpio11{gpio_config = <P_GPIO(11) 0>;};
	pgpio12{gpio_config = <P_GPIO(12) 0>;};
	pgpio13{gpio_config = <P_GPIO(13) 0>;};
	pgpio14{gpio_config = <P_GPIO(14) 0>;};
	pgpio15{gpio_config = <P_GPIO(15) 0>;};
	pgpio16{gpio_config = <P_GPIO(16) 0>;};
	pgpio17{gpio_config = <P_GPIO(17) 0>;};
	pgpio18{gpio_config = <P_GPIO(18) 0>;};
	pgpio19{gpio_config = <P_GPIO(19) 0>;};
	pgpio20{gpio_config = <P_GPIO(20) 0>;};
	pgpio21{gpio_config = <P_GPIO(21) 0>;};
	pgpio22{gpio_config = <P_GPIO(22) 0>;};
	pgpio23{gpio_config = <P_GPIO(23) 0>;};
	pgpio24{gpio_config = <P_GPIO(24) 0>;};
	pgpio25{gpio_config = <P_GPIO(25) 0>;};
	lgpio0{gpio_config = <L_GPIO(0) 0>;};
	lgpio1{gpio_config = <L_GPIO(1) 0>;};
	lgpio2{gpio_config = <L_GPIO(2) 0>;};
	lgpio3{gpio_config = <L_GPIO(3) 0>;};
	lgpio4{gpio_config = <L_GPIO(4) 0>;};
	lgpio5{gpio_config = <L_GPIO(5) 0>;};
	lgpio6{gpio_config = <L_GPIO(6) 0>;};
	lgpio7{gpio_config = <L_GPIO(7) 0>;};
	lgpio8{gpio_config = <L_GPIO(8) 0>;};
	lgpio9{gpio_config = <L_GPIO(9) 0>;};
	lgpio10{gpio_config = <L_GPIO(10) 0>;};
	lgpio11{gpio_config = <L_GPIO(11) 0>;};
	lgpio12{gpio_config = <L_GPIO(12) 0>;};
	lgpio13{gpio_config = <L_GPIO(13) 0>;};
	lgpio14{gpio_config = <L_GPIO(14) 0>;};
	lgpio15{gpio_config = <L_GPIO(15) 0>;};
	lgpio16{gpio_config = <L_GPIO(16) 0>;};
	lgpio17{gpio_config = <L_GPIO(17) 0>;};
	lgpio18{gpio_config = <L_GPIO(18) 0>;};
	lgpio19{gpio_config = <L_GPIO(19) 0>;};
	lgpio20{gpio_config = <L_GPIO(20) 0>;};
	lgpio21{gpio_config = <L_GPIO(21) 0>;};
	lgpio22{gpio_config = <L_GPIO(22) 0>;};
	lgpio23{gpio_config = <L_GPIO(23) 0>;};
	lgpio24{gpio_config = <L_GPIO(24) 0>;};
	dgpio0{gpio_config = <D_GPIO(0) 0>;};
	dgpio1{gpio_config = <D_GPIO(1) 0>;};
	dgpio2{gpio_config = <D_GPIO(2) 0>;};
	dgpio3{gpio_config = <D_GPIO(3) 0>;};
	dgpio4{gpio_config = <D_GPIO(4) 0>;};
	dgpio5{gpio_config = <D_GPIO(5) 0>;};
	dgpio6{gpio_config = <D_GPIO(6) 0>;};
	dgpio7{gpio_config = <D_GPIO(7) 0>;};
	dgpio8{gpio_config = <D_GPIO(8) 0>;};
	dgpio9{gpio_config = <D_GPIO(9) 0>;};
	dgpio10{gpio_config = <D_GPIO(10) 0>;};
*/
	lgpio12{gpio_config = <L_GPIO(12) 1>;};  //GPIO_WIFI_PWR_ON,high active
	lgpio13{gpio_config = <L_GPIO(13) 1>;};  //GPIO_WIFI_REG_ON,high active
	
	lgpio1{pad_config = <0xE2 0x1 0xE2 0x2>;};
	lgpio1{gpio_config = <L_GPIO(1) 1>;};
    pgpio16{pad_config = <0xA0 0x1 0xA0 0x1>;};//8821 blue CTS set pull-down
};
